---
// Importa el componente de React
import ClientTable from '../../components/TestTable.jsx';
---

<html>
<head>
	<title>Clientes</title>
</head>
<body>
<main>
	{/* Renderiza el componente de React */}
	<ClientTable client:visible/>
</main>
</body>
</html>
